<div class="">
  <div class="opener">
    <div class="vertical-center">
      <h1 id="open-hook">Blog Website</h1>
      <%= link_to 'Sign Up', signup_path, class: "btn btn-primary btn-lg btn-xlg"  %>
    </div>
  </div>
</div>
